/* #sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: rgb(132, 0, 255);
} */


a.accordion-toggle{
  background: transparent;
  color : #337ab7;
}


a.accordion-toggle::before{
  display: none;
}
