<div class="createDesignation">
	<h2 class="createEmpCenter">{{formHeading}}</h2>
<br>
	<form name="createEmployee" novalidate>
		First Name
		<input type="text" class="form-control" ng-model="emp.firstName" ng-required="true" name="firstName" ng-pattern="/^[A-Za-z]+$/"
		 ng-minlength="2" ng-maxlength="30">
		<div uib-alert class="alert-danger" ng-messages="createEmployee.firstName.$error" ng-if="createEmployee.firstName.$invalid && createEmployee.firstName.$touched">
			<p ng-message="pattern">Please enter a valid name</p>
			<p ng-message="minlength">It should be atleast 2 letters.</p>
			<p ng-message="maxlength">Cannot exceed 30 characters.</p>
			<p ng-message="required">It is a required field</p>
		</div>
		<br>
		Last Name
		<input type="text" class="form-control" ng-model="emp.lastName" ng-required="true" ng-pattern="/^[A-Za-z]+$/" ng-minlength="2"
		 ng-maxlength="30" name="lastName">
		<div uib-alert class="alert-danger" ng-messages="createEmployee.lastName.$error" ng-if="createEmployee.lastName.$invalid && createEmployee.lastName.$touched">
			<p ng-message="pattern">Please enter a valid name</p>
			<p ng-message="minlength">It should be atleast 2 letters.</p>
			<p ng-message="maxlength">Cannot exceed 30 characters.</p>
			<p ng-message="required">It is a required field</p>
		</div>
		<br>
		Mobile Number
		<input type="text" class="form-control" ng-model="emp.mobile" ng-required="true" name="mobile" ng-pattern="/^\d\d\d\d\d\d\d\d\d\d$/">
		<div uib-alert class="alert-danger" ng-messages="createEmployee.mobile.$error" ng-if="createEmployee.mobile.$invalid && createEmployee.mobile.$touched">
			<p ng-message="pattern">Please enter a valid 10 digit mobile no.</p>
			<p ng-message="required">It is a required field</p>
		</div>
		<br>
		Email ID
		<input type="email" class="form-control" ng-model="emp.email" name="emailId" ng-required="true">
		<div uib-alert class="alert-danger" ng-messages="createEmployee.emailId.$error" ng-if="createEmployee.emailId.$invalid && createEmployee.emailId.$touched">
			<p ng-message="email">
				Please enter a valid email
			</p>
			<p ng-message="required">It is a required field</p>
		</div>

		<br>
		<br>
		<fieldset>
			<legend>Permanent Address</legend>
			Address
			<textarea class="form-control" ng-model="emp.pAddress.addr" ng-required="true" name="pAddressAddr" ng-pattern="/^[0-9A-Za-z-,/ ]+$/"></textarea>
			<div uib-alert class="alert-danger" ng-messages="createEmployee.pAddressAddr.$error" ng-if="createEmployee.pAddressAddr.$invalid && createEmployee.pAddressAddr.$touched">
				<p ng-message="pattern">Only alphabets and , / - are allowed</p>
				<p ng-message="required">It is a required field</p>
				<p ng-message="maxlength">Should be at most 100 characters</p>
			</div>
			<br>
			City
			<input type="text" class="form-control" name="pAddressCity" ng-model="emp.pAddress.city" ng-required="true" ng-minlength="3"
			 ng-maxlength="30" ng-pattern="/^[A-Za-z][A-Za-z ]+[A-Za-z]$/">
			<div uib-alert class="alert-danger" ng-messages="createEmployee.pAddressCity.$error" ng-if="createEmployee.pAddressCity.$invalid && createEmployee.pAddressCity.$touched">
				<p ng-message="minlength">Should be atleast 3 characters</p>
				<p ng-message="maxlength">Should be at max 30 characters</p>
				<p ng-message="required">It is a required field</p>
				<p ng-message="pattern">Should be a valid city name</p>
			</div>
			<br>
			State
			<input type="text" class="form-control" ng-model="emp.pAddress.state" ng-required="true" ng-minlength="3" ng-maxlength="30"
			 ng-pattern="/^[A-Za-z][A-Za-z ]+[A-Za-z]$/" name="pAddressState">
			<div uib-alert class="alert-danger" ng-messages="createEmployee.pAddressState.$error" ng-if="createEmployee.pAddressState.$invalid && createEmployee.pAddressState.$touched">
				<p ng-message="minlength">Should be atleast 3 characters</p>
				<p ng-message="maxlength">Should be at max 30 characters</p>
				<p ng-message="required">It is a required field</p>
				<p ng-message="pattern">Should be a valid city name</p>
			</div>
			<br>
			Pincode
			<input type="text" class="form-control" ng-model="emp.pAddress.pinCode" ng-required="true" ng-pattern="/^\d\d\d\d\d\d$/"
			 name="pAddressPincode">
			<div uib-alert class="alert-danger" ng-messages="createEmployee.pAddressPincode.$error" ng-if="createEmployee.pAddressPincode.$invalid && createEmployee.pAddressPincode.$touched">
				<p ng-message="pattern">Enter a valid pincode</p>
				<p ng-message="required">It is a required field</p>
			</div>
		</fieldset>

		<br>
		<br>
		<fieldset>
			<legend>Current Address</legend>
			<input type="checkbox" ng-model="emp.cAddress.sameAsPermanent">Same As Permanent?
			<br>
			<br>
			<div ng-if="!emp.cAddress.sameAsPermanent">
				Address
				<textarea class="form-control" ng-model="emp.cAddress.addr" name="cAddressAddr" ng-required="true" ng-pattern="/^[0-9A-Za-z-,/ ]+$/"
				 maxlength="100"></textarea>
				<div uib-alert class="alert-danger" ng-messages="createEmployee.cAddressAddr.$error" ng-if="createEmployee.cAddressAddr.$invalid && createEmployee.cAddressAddr.$touched">
					<p ng-message="pattern">Only alphabets and , / - are allowed</p>
					<p ng-message="required">It is a required field</p>
					<p ng-message="maxlength">Should be at most 100 characters.</p>
				</div>
				<br>
				City
				<input type="text" class="form-control" name="cAddressCity" ng-model="emp.cAddress.city" ng-required="true" ng-minlength="3"
				 ng-maxlength="30" ng-pattern="/^[A-Za-z][A-Za-z ]+[A-Za-z]$/"> 
				<div uib-alert class="alert-danger" ng-messages="createEmployee.cAddressCity.$error" ng-if="createEmployee.cAddressCity.$invalid && createEmployee.cAddressCity.$touched"
				 ng-pattern="/^[A-Za-z][A-Za-z ]+[A-Za-z]$/">
					<p ng-message="minlength">Should be atleast 3 characters</p>
					<p ng-message="maxlength">Should be at max 30 characters</p>
					<p ng-message="required">It is a required field</p>
					<p ng-message="pattern">Should be a valid city name</p>
				</div>
				<br>
				State
				<input type="text" class="form-control" name="cAddressState" ng-model="emp.cAddress.state" ng-required="true" ng-minlength="3"
				 ng-maxlength="30" ng-pattern="/^[A-Za-z][A-Za-z ]+[A-Za-z]$/">
				<div uib-alert class="alert-danger" ng-messages="createEmployee.cAddressState.$error" ng-if="createEmployee.cAddressState.$invalid && createEmployee.cAddressState.$touched">
					<p ng-message="minlength">Should be atleast 3 characters</p>
					<p ng-message="maxlength">Should be at max 30 characters</p>
					<p ng-message="required">It is a required field</p>
					<p ng-message="pattern">Should be a valid city name</p>
				</div>
				<br>
				Pincode
				<input type="text" class="form-control" name="cAddressPincode" ng-model="emp.cAddress.pinCode" ng-required="true" ng-pattern="/^\d\d\d\d\d\d$/">
				<div uib-alert class="alert-danger" ng-messages="createEmployee.cAddressPincode.$error" ng-if="createEmployee.cAddressPincode.$invalid && createEmployee.cAddressPincode.$touched">
					<p ng-message="pattern">Enter a valid pincode</p>
					<p ng-message="required">It is a required field</p>
				</div>
			</div>
		</fieldset>

		<!-- for selecting designation from available designations -->
		<br> Designation

		<select ng-change="getDesigSalaryStructure()" ng-model="designation" class="form-control" ng-required="true" name="designation2">
			<option ng-repeat="designation in designations" ng-value="{{designation}}">
				{{designation.name}}
			</option>
		</select>
		<div uib-alert class="alert-danger" ng-messages="createEmployee.designation.$error" ng-if="createEmployee.designation.$invalid && createEmployee.designation.$touched">
			<p ng-message="required">It is a required field</p>
		</div>

		<!-- for selecting salary components from available salary components -->
		<br> Salary Structure
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				Components Available:
				<!-- DND 1 for available salary components -->
				<ul dnd-list="availableSalaries">
					<li ng-repeat="item in availableSalaries" dnd-draggable="item" dnd-moved="availableSalaries.splice($index, 1)" dnd-effect-allowed="move">
						{{item.name}} - {{item.value}}
						<p style="display:inline" ng-if="item.valueType==='percentage'">%</p>
						<p style="display:inline" ng-if="item.valueType==='custom'">INR</p>
						- {{item.type}}
					</li>
				</ul>
			</div>

			<!-- for already selected components assigned to designation and to choose new salary commponents -->
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				Selected Components
				<ul dnd-list="selectedSalaries" dnd-inserted="updateTotal('inserted at', index, external, type)">
					<li>Basic (INR)
						<input class="form-control" type="text" ng-model="basicAmount" name="basicAmount" ng-pattern="/^\d+$/" ng-required="true"
						 ng-change="updateTotal()">
						<div uib-alert class="alert-danger" ng-messages="form.basicAmount.$error" ng-if="form.basicAmount.$invalid && form.basicAmount.$touched">
							<p ng-message="pattern">Enter a valid no.</p>
							<p ng-message="required">It is a required field</p>
						</div>
					</li>
					<!-- DND 2 for selected salary components -->
					<li ng-init="item.valueType=='custom'" ng-show="item.name!='basic'" uib-alert ng-class="{ 'alert-success': item.type === 'allowance','alert-danger': item.type==='deduction'}"
					 ng-repeat="item in selectedSalaries" dnd-draggable="item" dnd-moved="selectedSalaries.splice($index, 1)" dnd-effect-allowed="move">
						<b>{{item.name}}</b>
						<a class="pull-right" ng-click="remove(item.id)">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
						<br> %Age of basic
						<input type="radio" value="percentage" ng-model="item.valueType" ng-required="true"> &nbsp; &nbsp; Custom Value
						<input type="radio" value="custom" ng-model="item.valueType" ng-required="true">

						<!-- For custom input in INR of salary component-->
						<div class="form-group" ng-if="item.valueType==='custom'">
							Value (INR)
							<input type="text" ng-model="item.value" class="form-control" name="{{'component'+item.id}}" ng-pattern="/^\d+$/" ng-required="true"
							 ng-change="updateTotal()">
							<div uib-alert class="alert-danger" ng-messages="form['component'+item.id].$error" ng-if="form['component'+item.id].$touched && form['component'+item.id].$invalid">
								<p ng-message="pattern">Enter a valid amount</p>
								<p ng-message="required">It is a required field</p>
							</div>
							Amount:
							<p>{{ item.amount=item.value }}</p>
						</div>

						<!-- For percentage based input of salary component -->
						<div class="form-group" ng-if="item.valueType==='percentage'">
							Percentage
							<input type="text" ng-model="item.value" class="form-control" ng-required="true" percentage name="{{'component' + item.id}}"
							 ng-pattern="/^\d+$/" ng-change="updateTotal()">
							<div uib-alert class="alert-danger" ng-messages="form['component'+item.id].$error" ng-if="form['component'+item.id].$invalid && form['component'+item.id].$touched">
								<p ng-message="pattern">Enter a valid number</p>
								<p ng-message="required">It is a required field</p>
								<p ng-message="percentage">Enter a valid percentage</p>
							</div>
							Amount:
							<p>{{ item.amount=basicAmount*item.value/100 }}</p>
						</div>
					</li>
					<li>Total: {{total}}

					</li>
				</ul>
			</div>
		</div>


		Select Shift
		<select ng-model="emp.shiftId" class="form-control" ng-required="true" name="shift">
			<option ng-repeat="shift in shifts" value="{{shift.id}}">{{shift.name}}</option>
		</select>
		<div uib-alert class="alert-danger" ng-messages="createEmployee.shift.$error" ng-if="createEmployee.shift.$invalid && createEmployee.shift.$touched">
			<p ng-message="required">It is a required field</p>
		</div>


		<br>
		<br>
		<div class="createEmpCenter">
		<button class="btn btn-success createEmpBtn" ng-click="addEmployee()" ng-disabled="createEmployee.$invalid">{{buttonText}}</button>
	</div>
		<br>
		<br>


	</form>

	<div uib-alert class="alert-danger" ng-show="employeeFailed">
		Employee was not added.
	</div>

	<div uib-alert class="alert-success" ng-show="employeeSuccess">
		Employee was added successfully.
	</div>

	<div uib-alert class="alert-danger" ng-show="employeeUpdateFailed">
		Employee was not updated.
	</div>

	<div uib-alert class="alert-success" ng-show="employeeUpdateSuccess">
		Employee was updated successfully.
	</div>
</div>