<h4>Enter employee name to mark attendance</h4>

<input type="text" ng-model="empSelected" uib-typeahead="employee as employee.firstName + ' ' + employee.lastName + ' - ' + employee.designationName for employee in employees | filter:$viewValue | limitTo:8"
 class="form-control">

<br>
<div ng-if="empSelected!=undefined">

	<table class="table">
		<thead class="table-info">
			<tr class="text-white">
				<th>Employee Name</th>
				<th>ID</th>
				<th>Email</th>
				<th>Shift</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{empSelected.firstName + " " + empSelected.lastName}}</td>
				<td>{{empSelected._id}}</td>
				<td>{{empSelected.email}}</td>
				<td>{{empSelected.shiftName}}</td>
			</tr>
		</tbody>
	</table>

	<div class="attendance1">
		<br>
		<br>
		<br>
		<!-- <div uib-datepicker ng-model="$parent.empAttendance.attendanceDate"></div> -->

		<div class="row">
			<div class="col-md-5">
				<h5>Select Date	</h5>
				<div uib-datepicker ng-model="$parent.empAttendance.attendanceDate"></div>
			</div>
			<div class="col-md-3">
				<div>
					<h5>Select Check In Time</h5>
					<div uib-timepicker show-meridian="false" ng-model="$parent.checkInTime" hour-step="1" minute-step="1"></div>
				</div>
			</div>
			<div class="col-md-3">
				<div>
					<h5>Select Check Out Time</h5>
					<div uib-timepicker show-meridian="false" ng-model="$parent.checkOutTime" hour-step="1" minute-step="1"></div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<button class="btn btn-success attendanceBtn" ng-click="takeAttendance()">Save</button>
	</div>
	<br>
	<br>
	<div uib-alert class="alert-danger" ng-show="attendanceFailed">
		{{errMsg}}
	</div>
	<div uib-alert class="alert-success" ng-show="attendanceSuccess">
		Attendance Saved Successfully!!
	</div>
</div>

</div>