<div >
  <br>
  <button style="float:right;" type="button" class="btn btn-success" ng-click="addSalWindow()">+ New Salary Component</button>
  <br>
  <br>
  <br>
  <br>
  <!-- print all salary components -->
  <div ng-repeat="salary in salaries">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 style="float:left" class="panel-title">{{salary.name}}</h3>
        <div style="float:right">
            <span class="glyphicon glyphicon-pencil" ng-click="editSalWindow(salary)"></span>&nbsp;&nbsp;&nbsp;
          <span class="glyphicon glyphicon-trash" ng-click="remove(salary.id)"></span>
        </div>
        <br>
      </div>
      <div class="panel-body">
        <h3 ng-if=" salary.valueType === 'percentage' ">Value : {{salary.value}} %</h3>
        <h3 ng-if=" salary.valueType === 'custom' ">Value : {{salary.value}} INR</h3>
        <h3>Type : {{salary.type}}</h3>
      </div>
    </div>
  </div>
</div>