<div>
  <br>
  <button style="float:right;" type="button" class="btn btn-success" ng-click="addEmp()">+ New Employee</button>
  <br>
  <br>
  <br>
  <br>
  <div ng-repeat="emp in employees">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 style="float:left" class="panel-title">{{emp.firstName}} {{emp.lastName}}</h3>
        <div style="float:right">
          <span class="glyphicon glyphicon-pencil" ng-click="editEmp(emp)"></span>&nbsp;&nbsp;&nbsp;
          <span class="glyphicon glyphicon-trash" ng-click="remove(emp.id)"></span>
        </div>
        <br>
      </div>

      <div class="panel-body">
        <h4>Designation: {{emp.designationName}}</h4>
        <h4>Shift: {{emp.shiftName}}</h4>
        <h4>Mobile No: {{emp.mobile}}</h4>
        <h4>Email : {{emp.email}}</h4>

        <br>
        <h4>Current Address</h4>
        <blockquote>
          <p>Address: {{emp.cAddress.addr}}</p>
          <p>City: {{emp.cAddress.city}}</p>
          <p>State: {{emp.cAddress.state}}</p>
          <p>Pincode: {{emp.cAddress.pinCode}}</p>
        </blockquote>
        <br>
        <h4>Salary structure</h4>

        <!--Table-->
        <table class="table">

          <!--Table head-->
          <thead class="table-success">
            <tr class="text-white table-warning">
              <th>#</th>
              <th>Component</th>
              <th>Value</th>
              <th>Amount</th>
              <th>Type</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr ng-repeat="(index,salary) in emp.salaryStructure">
              <th scope="row">{{index+1}}</th>
              <td>{{salary.name}}</td>
              <td ng-if=" salary.valueType === 'percentage' ">{{salary.value}} %</td>
              <td ng-if=" salary.valueType === 'custom' ">{{salary.value}} INR</td>
              <td ng-if=" salary.name === 'basic' ">-</td>
              <td>{{salary.amount}}</td>
              <td>{{salary.type}}</td>
            </tr>

          </tbody>
          <!--Table body-->

        </table>
        <!--Table-->
      </div>
    </div>
  </div>
</div>