<div >
  <br>
  <button style="float:right;" type="button" class="btn btn-info" ng-click="addSalWindow()">+ New Salary Component</button>
  <br>
  <br>
  <br>
  <br>
  <!-- print all salary components -->
  <div class="row">
  <div ng-repeat="salary in salaries" class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
    <div class="panel" ng-class="{'panel-success': salary.type== 'allowance' , 'panel-danger':salary.type== 'deduction' }">
      <div class="panel-heading">
        <h4 style="float:left" class="panel-title">{{salary.name}}</h4>
        <div style="float:right">
            <span class="glyphicon glyphicon-pencil" ng-click="editSalWindow(salary)"></span>&nbsp;&nbsp;&nbsp;
          <span class="glyphicon glyphicon-trash" ng-click="remove(salary._id)"></span>
        </div>
        <br>
      </div>
      <div class="panel-body">
        <h4 ng-if=" salary.valueType === 'percentage' ">Value : {{salary.value}} %</h4>
        <h4 ng-if=" salary.valueType === 'custom' ">Value : {{salary.value}} INR</h4>
        <h4>Type : {{salary.type}}</h4>
      </div>
    </div>
  </div>
</div>
</div>