<div>
  <br>
  <button style="float:right;" type="button" class="btn btn-success" ng-click="addEmp()">+ New Employee</button>

  <br>
  <br>
  <br>
  <br>
  <div ng-repeat="emp in employees">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 style="float:left" class="panel-title">{{emp.firstName}} {{emp.lastName}}</h3>
        <div style="float:right">
          <span class="glyphicon glyphicon-pencil" ng-click="editEmp(emp)"></span>&nbsp;&nbsp;&nbsp;
          <span class="glyphicon glyphicon-trash" ng-click="remove(emp.id)"></span>
        </div>
        <br>
      </div>

      <div class="panel-body">

        <table class="table borderless">

          <tbody>
            <tr>
              <td>Designation</td>
              <td>{{emp.designationName}}</td>
            </tr>
            <tr>
              <td>Shift</td>
              <td>{{emp.shiftName}}</td>
            </tr>
            <tr>
              <td>Mobile No.</td>
              <td>{{emp.mobile}}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{emp.email}}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <br>



        <uib-accordion close-others="oneAtATime">

          <div uib-accordion-group class="panel-info">
            <uib-accordion-heading>
              Current Address
              <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></span>
            </uib-accordion-heading>
            <table class="table borderless">
              <tbody>
                <tr>
                  <td>Address</td>
                  <td>{{emp.cAddress.addr}}</td>
                </tr>
                <tr>
                  <td>City</td>
                  <td>{{emp.cAddress.city}}</td>
                </tr>
                <tr>
                  <td>State</td>
                  <td>{{emp.cAddress.state}}</td>
                </tr>
                <tr>
                  <td>Pincode</td>
                  <td>{{emp.cAddress.pinCode}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div uib-accordion-group class="panel-info">
            <uib-accordion-heading>
              Salary structure
              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <!--Table-->
            <table class="table">

              <!--Table head-->
              <thead class="table-success">
                <tr class="text-white table-warning">
                  <th>#</th>
                  <th>Component</th>
                  <th>Value</th>
                  <th>Amount</th>
                  <th>Type</th>
                </tr>
              </thead>
              <!--Table head-->

              <!--Table body-->
              <tbody>
                <tr ng-repeat="(index,salary) in emp.salaryStructure">
                  <th scope="row">{{index+1}}</th>
                  <td>{{salary.name}}</td>
                  <td ng-if=" salary.valueType === 'percentage' ">{{salary.value}} %</td>
                  <td ng-if=" salary.valueType === 'custom' ">{{salary.value}} INR</td>
                  <td ng-if=" salary.name === 'basic' ">-</td>
                  <td>{{salary.amount}}</td>
                  <td>{{salary.type}}</td>
                </tr>

              </tbody>
              <!--Table body-->

            </table>
            <!--Table-->
          </div>
        </uib-accordion>




      </div>
    </div>
  </div>

</div>