<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HR Assist</title>
</head>

<body>
  <h1>Welcome to HR Assist</h1>
  <h4 class="tagline">One stop HR solution for your company.</h4>
  <br>
  <br>
  <br>
  <div class="row" style="float:left">
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
      <div class="glyphicon glyphicon-list-alt glyphSize"> </div>
      <div>
        <h4>
          Salary and Shift
        </h4>
        <p>
          Create new salary components and shifts as per your company.
        </p>
      </div>
      <br>
      <br>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
      <div class="glyphicon glyphicon-briefcase glyphSize"></div>
      <div>
        <h4>
          New Designation
        </h4>
        <p>
          Create new designations as per your company profiles.
        </p>
      </div>
      <br>
      <br>

    </div>
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
      <div class="glyphicon glyphicon-user glyphSize"></div>
      <div>
        <h4>
          New Employee
        </h4>
        <p>
          Create a new employee easily by assigning salary components, shifts and designations to it.
        </p>
      </div>
      <br>
      <br>

    </div>
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
      <div class="glyphicon glyphicon-time glyphSize"></div>
      <div>
        <h4>Capture Attendance</h4>
        <p>Mark attendance of your employees from a single place.</p>
      </div>
      <br>
      <br>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
      <div class="glyphicon glyphicon-cog glyphSize"> </div>
      <div>
        <h4>Settings</h4>
        <p>Manage deductions for late comers and allowances for overtimers.</p>
      </div>
      <br>
      <br>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-6">
      <div class="glyphicon glyphicon-stats glyphSize"></div>
      <div>
        <h4>Reports</h4>
        <p>View salary reports of your employees.</p>
      </div>


    </div>

  </div>
</body>

</html>